*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

::-moz-selection {
  background: #c2d3ff;
  color: #151f29;
}

::selection {
  background: #c2d3ff;
  color: #151f29;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #151f29;
  text-align: center;
}

.container {
  width: 97vw;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 638px;
}

.logo {
  font-weight: 700;
  padding: 2.5rem 0 1.5rem;
  font-size: 32px;
  text-transform: uppercase;
}

.logo span {
  color: #4f7df3;
}

h1 {
  font-size: 48px;
}

h1 span {
  font-weight: 300;
  color: #969696;
}

p {
  padding: 1rem 0 1.5rem;
}

form {
  width: 100%;
}

form #email {
  padding: 1rem 1.5rem;
  border: solid 1px #c2d3ff;
  width: 65%;
  border-radius: 25px;
  font-size: 16px;
}

form #email::-webkit-input-placeholder {
  color: #c2d3ff;
  font-size: 16px;
}

form #email:-ms-input-placeholder {
  color: #c2d3ff;
  font-size: 16px;
}

form #email::-ms-input-placeholder {
  color: #c2d3ff;
  font-size: 16px;
}

form #email::placeholder {
  color: #c2d3ff;
  font-size: 16px;
}

form #submit {
  background: #4f7df3;
  color: #FFF;
  font-size: 16px;
  padding: 1rem 1.5rem;
  margin-left: .25rem;
  width: 33%;
  border-radius: 25px;
  border: none;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 10px #c2d3ff;
          box-shadow: 0px 4px 10px #c2d3ff;
}

form #submit:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

form #submit:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (max-width: 500px) {
  form #email, form #submit {
    width: 100%;
    margin-top: 1rem;
  }
}

form p {
  font-size: 14px;
  color: #ff5263;
  text-align: left;
  padding: .5rem 0 0 1.5rem;
  font-style: italic;
  -webkit-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
  opacity: 0;
}

form.error #email {
  border-color: #ff5263;
}

form.error #email::-webkit-input-placeholder {
  color: #ff5263;
}

form.error #email:-ms-input-placeholder {
  color: #ff5263;
}

form.error #email::-ms-input-placeholder {
  color: #ff5263;
}

form.error #email::placeholder {
  color: #ff5263;
}

form.error #submit {
  background: #c2d3ff;
}

form.error #submit:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

form.error #submit:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

form.error p {
  opacity: 1;
}

.dash-img {
  width: 100%;
  padding: 4rem 0;
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-wrap a {
  padding: .5rem;
  margin-left: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 2px solid #c2d3ff;
  border-radius: 50%;
  -webkit-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}

.contact-wrap a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contact-wrap a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.contact-wrap img {
  width: 15px;
}

.copyrights {
  padding: 1.5rem 0 2rem;
  color: #969696;
  font-size: 14px;
}

.attribution {
  background: #c2d3ff;
  color: #151f29;
  font-size: 16px;
  padding: .5rem;
}

.attribution a {
  color: #4f7df3;
}
/*# sourceMappingURL=style.css.map */